//forms
//wrap label around inputs when applicable
.custom-checkbox {
    input[type='checkbox'] {
        accent-color: $violet;
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 1rem;
        background-color: $light-gray;
        appearance: none;
        border-radius: 3px;

        &:hover {
            background-color: $light-violet;
        }

        &:checked {
            appearance: auto;
        }
    }

    line-height: 24px;
    vertical-align: center;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.custom-input {
}

//buttons
.button {
    border-radius: 5px;
    cursor: pointer;
    background-color: $violet;
    padding: 1rem 2.5rem;
    color: $white;
    font-weight: bold;
    &:hover {
        background-color: $light-violet;
    }
    &.primary-btn {
    }
    &.secondary-btn {
        background-color: rgb(89, 100, 224, 0.1);
        color: $violet;
        &:hover {
            background-color: rgb(89, 100, 224, 0.35);
        }
    }
}

.dark {
    .secondary-btn {
        color: $white;
        background-color: rgba(255, 255, 255, 0.1);
        &:hover {
            background-color: rgba(255, 255, 255, 0.35);
        }
    }
}
