//forms
//wrap label around inputs when applicable
.custom-checkbox {
    input[type='checkbox'] {
        accent-color: $violet;
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 1rem;
        background-color: rgba(25, 32, 45, 0.1);
        appearance: none;
        border-radius: 3px;
        &:hover {
            background-color: $light-violet;
        }

        &:checked {
            appearance: auto;
        }
    }

    line-height: 1.5rem;
    vertical-align: center;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
}

.custom-input {
    border: none;
    line-height: 3rem;
    width: 100%;
    box-sizing: border-box;
    padding: 0 1rem;
    color: $very-dark-blue;
    background-color: transparent;
    &::placeholder {
        color: $very-dark-blue;
        opacity: 0.5;
    }

    &:-ms-input-placeholder {
        color: $very-dark-blue;
        opacity: 0.5;
    }

    &::-ms-input-placeholder {
        color: $very-dark-blue;
        opacity: 0.5;
    }
}
:global(.dark) {
    .custom-input {
        color: $white;
        &::placeholder {
            color: $white;
            opacity: 0.5;
        }

        &:-ms-input-placeholder {
            color: $white;
            opacity: 0.5;
        }

        &::-ms-input-placeholder {
            color: $white;
            opacity: 0.5;
        }
    }
    .custom-checkbox {
        color: $white;
        input[type='checkbox'] {
            background-color: rgba(255, 255, 255, 0.1);
            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }
        }
    }
}

//buttons
.button {
    border-radius: 5px;
    cursor: pointer;
    background-color: $violet;
    padding: 1rem 2.5rem;
    color: $white;
    font-weight: bold;
    &:hover {
        background-color: $light-violet;
    }
    &.secondary {
        background-color: rgb(89, 100, 224, 0.1);
        color: $violet;
        &:hover {
            background-color: rgb(89, 100, 224, 0.35);
        }
    }
}

:global(.dark) {
    .secondary {
        color: $white;
        background-color: rgba(255, 255, 255, 0.1);
        &:hover {
            background-color: rgba(255, 255, 255, 0.35);
        }
    }
}
